.flip-book {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: none;
  background-size: cover;
}

.title {
  font-size: 1.05rem;
}

.flip-book {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: none;
  z-index: 100;
}

.html-book {
  background-size: cover;
}

.demo-block {
  border-top: solid 1px #dcdcdc;
  border-bottom: solid 1px #dcdcdc;
}

.flag {
  width: 45px;
  height: 30px;
  border-radius: 5px;
}

.dropdown-menu {
  min-width: 8rem;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page {
  background-color: #fdfaf7;
  color: #785e3a;
  border: solid 1px #c2b5a3;
  overflow: hidden;
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.page .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page .page-content .page-image {
  height: 70%;
}

.page .page-content .page-text {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: solid 1px #f4e8d7;
}

.page .page-content .page-footer {
  height: 30px;
  border-top: solid 1px #f4e8d7;
  font-size: 80%;
  color: #998466;
}

.page.--left {
  border-right: 0;
  -webkit-box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right {
  border-left: 0;
  -webkit-box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right .page-footer {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.page.hard {
  background-color: #f2e8d9;
  border: solid 1px #998466;
}

.page.page-cover {
  background-color: #fff;
  color: #785e3a;
  border: solid 1px #998466;
}

.page.page-cover h2 {
  text-align: center;
  padding-top: 50%;
  font-size: 210%;
}

.page.page-cover.page-cover-top {
  -webkit-box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-bottom {
  -webkit-box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.brand {
  padding: 10px;
}

.brand .brand-img {
  width: 110px;
  height: 110px;
}

.brand-img-2 {
  padding: 5px;
  width: 110px;
  height: 110px;
}

.controls-btn {
  display: -ms-grid;
  display: grid;
  place-content: center;
  justify-items: center;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.controls-btn:hover {
  background: #cfcfcf;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  .book-overflow {
    overflow: hidden !important;
  }
  .logo {
    width: 150px;
    height: 150px;
  }
  .title {
    font-size: 0.9rem;
  }
  .brand-img-2 {
    padding: 0;
    width: 80px;
    height: 80px;
  }
  .brand {
    margin: 10px;
  }
  .brand .brand-img {
    width: 90px;
    height: 90px;
  }
  .page .page-content .page-image {
    height: 55%;
  }
}
