html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 250ms ease-in-out;
}

* {
	box-sizing: border-box;
}

div#__next {
	overflow-x: hidden;
}

.cursor-pointer {
	cursor: pointer;
}

a:hover {
	color: var(--color-primary);
}

:root {
	--page-height: 250px;
	--brand-img: 70px;
	--logo: 110px;
}

@media screen and (max-width: 374px) {
	:root {
		--page-height: 210px;
		/* --brand-img: 50px; */
	}
}

@media (min-width: 375px) and (max-width: 413px) {
	:root {
		--page-height: 250px;
		--logo: 130px;
	}
}

@media (min-width: 414px) and (max-width: 568px) {
	:root {
		--page-height: 280px;
		--brand-img: 90px;
		--logo: 150px;
	}
}

@media (min-width: 569px) and (max-width: 629px) {
	:root {
		--brand-img: 100px;
	}
}

@media (min-width: 569px) and (max-width: 767px) {
	:root {
		--page-height: 220px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	:root {
		--logo: 150px;
	}
}

@media (min-width: 980px) and (max-width: 1024px) {
	:root {
		--page-height: 310px;
		--brand-img: 110px;
		--logo: 160px;
	}
}

@media (min-width: 1025px) and (max-width: 1115px) {
	:root {
		--page-height: 340px;
		--brand-img: 110px;
		--logo: 170px;
	}
}

@media (min-width: 1116px) and (max-width: 1366px) {
	:root {
		--page-height: 385px;
		--brand-img: 120px;
		--logo: 180px;
	}
}

@media (min-width: 1367px) {
	:root {
		--page-height: 370px;
		--brand-img: 120px;
		--logo: 190px;
	}
}
